.field-radio {
  margin-left: 63px;
}

.field-radio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 33px;
  height: 76px;
}

@media (min-width: $tablet-width) {
  .field-radio__wrapper {
    margin-bottom: 0px;
  }
}

.field-radio__label {
  font-size: 17px;
  line-height: 18px;
  display: block;
  width: 196px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .field-radio__label {
    width: 300px;
    margin-top: -52px;
    margin-left: 185px;
  }
}

@media (min-width: $desktop-width) {
  .field-radio__label {
    margin-left: 192px;
    margin-top: -50px;
  }
}

.field-radio__label::before {
  content: "";
  display: block;
  width: 40px;
	height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid $dark-gray;
  position: absolute;
  left: -63px;
  top: -9px;
}

@media (min-width: $tablet-width) {
  .field-radio__label::before {
    width: 52px;
    height: 52px;
    left: -81px;
    top: -15px;
  }
}

.field-radio__input:checked+label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -51px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $dark-tiffany;

}

@media (min-width: $tablet-width) {
  .field-radio__input:checked+label::after {
    top: -1px;
    left: -66px;
    width: 20px;
    height: 20px;
  }
}
