.main-nav__toggle {
  display: block;
  border: none;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  background-color: transparent;
}

.main-nav__list {
  list-style: none;
}
