.page-main__wrapper-title {
  display: block;
  box-sizing: border-box;
  height: 282px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
}

.page-main__title {
  text-align: center;
  max-width: 245px;
}
