.page-footer {
  background-color: $light-gray;
  width: 320px;
  display: flex;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1150px;
  }
}
