.page-header {
  width: 320px;
  height: 80px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    height: 90px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
  }
}
