

.page-main__wrapper-title {
  box-sizing: border-box;
  display: flex;
  min-height: 282px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: blue; /*временный код*/
}

@media (min-width: $tablet-width) {
  .page-main__wrapper-title {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    min-height: 627px;
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper-title {
    width: 1050px;
  }
}

.page-main__title {
  display: inline-block;
  text-align: center;
  width: 245px;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    min-height: 108px;
    width: 510px;
    margin-top: 157px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    min-height: 125px;
    width: 630px;
  }
}
