.product-item__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-gray;
}

.product-item {
  width: 264px;
  background-color: yellow;
  margin-left: auto;
  margin-right:auto;
}


@media (min-width: $tablet-width) {
  .product-item {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .product-item {
    width: 1050px;
  }
}

.product-item__title {
  margin: 0;
  padding: 0;
}

.product-item__image {
  margin-bottom: 27px;
  margin-left: auto;
  margin-right:auto;
}


.product-item__price {
  display: inline-block;
  margin-bottom: 27px;

}
