.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.social__item {
  padding: 0;
  margin: 0;
}

.social__link--instagram {
  display: block;
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
}

.social__link--facebook {
  display: block;
  width: 15px;
  height: 28px;
  background-image: url("../img/icon-fb.svg");
}

.social__link--twitter {
  display: block;
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-twitter.svg");
}
