.social__list {
  list-style: none;
}

.social__link--instagram {
  display: block;
  width: 21px;
  height: 20px;
  background-image: url(../img/icon-insta.svg);
}

.social__link--facebook {
  display: block;
  width:15px;
  height:28px;
  background-image: url(../img/icon-fb.svg);
}

.social__link--twitter {
  display: block;
  width: 23px;
  height:20px;
  background-image: url(../img/icon-twitter.svg);
}
