$light-tiffany: #63d1bb;
$dark-tiffany: #56c3b2;
$black: #000000;
$dark-gray: #444444;
$light-gray: #ececec;
$gray: #e7e7e7;

$link: #000000;
$link-hover: rgba(0, 0, 0, 0.6);
$link-active: rgba(0, 0, 0, 0.3);

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
